<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="changePath" value="C:/Users/divya.athyala/DRepos/VS2019/ChangeModeApp/Scripts/rDWP_Config_v1.5.ps1" />
		<add key="resetPath" value="C:/Users/divya.athyala/DRepos/VS2019/ChangeModeApp/Scripts/Uninstall.ps1" />
		<add key="testPath" value="C:/Users/divya.athyala/DRepos/VS2019/ChangeModeApp/Scripts/test.ps1" />
		
	</appSettings>
</configuration>